<!DOCTYPE html>
<html lang="en">

{{>header}}



<body>
    {{>custom_style}}
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    {{>top_header}}
    <!-- Navbar Start -->

    <div class="container-fluid position-relative p-0">
        {{>navbar}}
        {{>banner}}
    </div>

    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" id="service" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title portfolio-links position-relative pb-3 mb-5 mx-auto" style="width: 100%;">
                <ul>
                    <a class="linkTo">All</a>
                    <a class="linkTo">Website Designing</a>
                    <a class="linkTo">Digital Marketing</a>
                    <a class="linkTo">SEO</a>
                    <a class="linkTo">Social Media Marketing</a>
                </ul>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item digital-marketing seo" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/digital_marketing.png" alt="">
                        </div>
                        <h4 class="mb-3">SEO & Content Writing</h4>
                        <p>Project Work #1</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/1.png" alt="">
                        </div>
                        <h4 class="mb-3">Restaurant Website Design</h4>
                        <p>Project Work #2</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/2.png" alt="">
                        </div>
                        <h4 class="mb-3">Portfolio Website Design</h4>
                        <p>Project Work #3</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/3.png" alt="">
                        </div>
                        <h4 class="mb-3">Restaurant Website Design</h4>
                        <p>Project Work #4</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/4.png" alt="">
                        </div>
                        <h4 class="mb-3">Photography Website Design</h4>
                        <p>Project Work #5</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/5.png" alt="">
                        </div>
                        <h4 class="mb-3">Photography Website Design</h4>
                        <p>Project Work #6</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/6.png" alt="">
                        </div>
                        <h4 class="mb-3">Construction Website Design</h4>
                        <p>Project Work #7</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/7.png" alt="">
                        </div>
                        <h4 class="mb-3">Construction Website Design</h4>
                        <p>Project Work #8</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/8.png" alt="">
                        </div>
                        <h4 class="mb-3">Construction Website Design</h4>
                        <p>Project Work #9</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn portfolio-item website-develop" data-wow-delay="0.3s">
                    <div class="service-item rounded flex-column align-items-center justify-content-center text-center">
                        <div class=" service-image">
                            <img src="./img/9.png" alt="">
                        </div>
                        <h4 class="mb-3">Construction Website Design</h4>
                        <p>Project Work #10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->


    <!-- Vendor Start -->
    {{>vender}}
    <!-- Vendor End -->


    {{>footer}}


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/linked.js"></script>
</body>

</html>